.BrandTestimonialsCard {
  min-height     : 10rem;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  flex           : 1;
  font-size      : .8rem;
  text-align     : center;

  &__image img {
    max-height: 3rem;
  }

  @media(min-width: 600px) {
    padding: 0 1rem;
  }
}
