.Card {
  min-height     : 10rem;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  flex           : 1;

  @media(min-width: 600px) {
    padding   : 0 1rem;
    text-align: center;
  }
}