.TestimonialsCard {
  flex       : 1;
  display    : flex;
  max-height : 20rem;
  align-items: center;
  padding    : 0 1rem;

  &[reverse-order=true] {
    flex-direction: row-reverse;
  }

  &__image {
    flex: 1;
  }

  &__testimonial {
    flex      : 1;
    padding   : 0 1rem;
    text-align: center;

    &-text {
      color         : var(--white);
      text-transform: uppercase;
    }

    &-author {
      color: var(--brilliant-cerulean);
    }

    &-quote {
      color      : var(--brilliant-cerulean);
      margin     : 0;
      font-size  : 5rem;
      line-height: .8;
    }
  }

  @media(min-width: 600px) {
    flex-direction: column;
    max-height    : initial;
    padding       : 0;

    &[reverse-order=true] {
      flex-direction: column-reverse;
    }

    &__testimonial {
      display        : flex;
      flex-direction : column;
      justify-content: center;
      min-height     : 15rem;
    }

  }
}
