.Carousel {
  display   : flex;
  background: var(--white);

  &__controls {
    display       : flex;
    flex-direction: column;
    flex          : 0 0 3rem;
    align-items   : center;
    padding       : 1rem .5rem;

    &-icon {
      color    : var(--artic-blue);
      cursor   : pointer;
      font-size: .8rem;
    }

    &-icon[is-active=true] {
      color: var(--brilliant-cerulean);
    }
  }

  &__slides {
    flex      : 1;
    position  : relative;
    overflow-y: hidden;
    min-height: 44rem;

    &--cards {
      position  : absolute;
      right     : 2rem;
      left      : 2rem;
      bottom    : 0;
      transition: 1s top ease-out;
    }
  }

  @media(min-width: 600px) {
    min-height: 32.5rem;
    max-width : 60rem;
    margin    : auto;

    &__slides {
      padding   : 0;
      min-height: 38rem;
    }
  }
}